body {
background-color:coral;
background:url("kamado\ tanjiro.png");
background-repeat:no-repeat;
background-size:cover;
background-position: center center;
background-attachment: fixed;
}
div{
height:200px;
width: 500px;
}
#div1 {
background:linear-gradient(blue,cyan,coral,lightcyan);
}
#div2{
background:linear-gradient(to right, blue,cyan,coral,lightcyan)
}
#div3{
background:linear-gradient(to right, blue,cyan,coral,lightcyan)
}

#div4{
background:radial-gradient(cyan,lightcyan)
}

#div5{
background:radial-gradient(circle,cyan,lightcyan,coral)
}
@keyframes example{
0%{background-color: red;}
25%{background-color:azure;}
50%{background-color:cyan;}
75%{background-color: crimson;}
}
#div6{
background:red;
animation-name:example ;
animation-duration: 60s;

}